[Unit]
Description=Tested bugsnitch service :-)

Requires=bugsnitch.socket
After=bugsnitch.socket

[Service]
User=services
Group=services

ExecStart=/usr/bin/node /opt/void/bugsnitch/service.js
WorkingDirectory=/srv/srvcs/bugsnitch/
RuntimeDirectory=bugsnitch

Environment=SOCKETMODE=true
Restart=no

[Install]
WantedBy=multi-user.target
