[Unit]
Description=Restarting the tested service :-)

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl try-restart bugsnitch.service

[Install]
WantedBy=multi-user.target
